$cost: (
  columns: 1,
  gutter: 0
);

$cost--md: (
  columns: 11,
  media: $media-md
);

.trade-form-cost {
  @include grid-container;

  margin: 0 20px;

  @include grid-media($cost--md) {
    margin: 0;
  }

  &__single {
    @include grid-column(1, $cost);
    @include grid-media($cost--md) {
      @include grid-column(3);
    }
  }

  &__divider {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;

    @include grid-column(1, $cost);
    @include grid-media($cost--md) {
      @include grid-column(1);
    }
  }
}
