<img src="/android-chrome-192x192.png" alt="Alt Tracker Logo" class="main-logo" />
<h3><%= dgettext "coherence", "Register Account" %></h3>

<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        label: dgettext("coherence", "Register"), required: [required: ""],
                        action: registration_path(@conn, :create) %>
