<h2>Edit Trade</h2>

<%= render "form.html", changeset: @changeset,
                        currencies: @currencies,
                        btc_price: @btc_price,
                        action: trade_path(@conn, :update, @trade) %>

<span><%= link "Back", to: trade_path(@conn, :index) %></span>
