<h2>New Trade</h2>

<%= render "form.html", changeset: @changeset,
                        currencies: @currencies,
                        action: trade_path(@conn, :create) %>

<span><%= link "Back", to: trade_path(@conn, :index) %></span>
