$primary: #9B4DCA;
$success: green;
$danger: #D64242;

body {
  height: 100%;
  width: 100%;
}

.cf-header~.container {
  margin-top: 4rem;
}

.price-value--increase {
  color: $success;
  font-weight: 700;
}

.price-value--decrease {
  color: $danger;
  font-weight: 700;
}

.button--danger.button--danger {
  border-color: $danger;
  background-color: $danger;

  &:hover {
    background-color: darken($danger, 15%);
  }
}
