.button {
  transition: background-color .15s ease, transform .15s ease;

  &:hover {
    background-color: darken($primary, 15%);
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }
}

.button--full-width {
  width: 100%;
}
