.main-logo {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.main-logo--header {
  height: 2rem;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  position: relative;
  top: .4rem;
}
