<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Cryptofolio!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  </head>

  <body>
    <header class="cf-header">
      <nav class="navigation">
        <section class="container">
          <a href="/"><h1 class="navigation__title">Folio</h1></a>
          <ul class="navigation__list float-right">
            <li class="navigation__list-item">
              <a class="navigation__link">Profile</a>
            </li>
            <li class="navigation__list-item">
              <a class="navigation__link">About</a>
            </li>
          </ul>
        </section>
      </nav>
    </header>

    <main class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
