<footer class="footer">
  <p>
    Proudly powered by <a href="//limeisp.com">Lime ISP</a>.
    Made with <span class="footer__love-text">Love</span> by <a href="//twitter.com/Secretmapper">Secretmapper</a>
  </p>
</footer>
